* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
:root {
  --red: #d70049;
  --blue: #032656;
  --lblue: #50759f;
  --pink: #da0b4e;
  --lpink: #de2460;
  --black: #2d3954;
  --green: #00ba74;
}
.star {
  color: #ffa02b;
}

/* 
  
 \\\\\\\\\\\\\\\\\\\\\\\\\\\ Navbar STYLE \\\\\\\\\\\\\\\\\\\\\\\\\\\\\
  
  */

.brand_name {
  height: 50px;
  width: 90px;
}
.nav_bg {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1;
  transition-timing-function: ease-in;
  transition: all 0.9s;
}
.nav_bg_white {
  background-color: #fff;
  color: var(--red);
}
.active_class {
  color: var(--red);
  border-bottom: 2px solid var(--red);
}
.hanburger_icone {
  color: var(--red);
  outline: none;
}
.nav_bg_white .nav-link {
  color: var(--red);
  text-decoration: chartreuse;
  border-bottom: black;
}
.nav-link {
  color: #fff;
  text-decoration: chartreuse;
  border-bottom: black;
}
.nav-link:hover {
  color: var(--red);
  text-decoration: chartreuse;
  border-bottom: black;
}
.section_city {
  outline: var(--red);
  padding: 5px 10px;
  border-radius: 5px;
}
.signin_btn {
  background-color: #fff;
  color: var(--pink);
  border: 1px solid var(--pink);
  padding: 10px 18px;
  text-decoration: none;
  margin: 0 10px;
  border-radius: 5px;
}
.signin_btn:hover {
  background-color: var(--pink);
  color: #fff;
  border: 1px solid var(--pink);
  padding: 10px 18px;
  text-decoration: none;
  margin: 0 10px;
  border-radius: 5px;
}
.Signin_nav {
  text-decoration: none;
  color: var(--pink);
}
.Signin_nav:hover {
  text-decoration: none;
  color: #fff;
}
.Sign_form {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  flex: column;
  align-items: center;
  text-align: center;
  background-color: var(--blue);
}
.Sign_form form {
  border: 1px solid #fff;
  padding: 2rem;
  border-radius: 5px;
}
.Sign_form label {
  color: #fff;
  margin-bottom: 10px;
}
.Sign_form input {
  width: 100%;
  height: 5%;
  padding: 10px 20px;
  border-radius: 5px;
  outline: none;
  border: none;
  margin-bottom: 10px;
}
.Sign_form button {
  width: 60%;
  padding: 10px 20px;
  color: #fff;
  background-color: var(--red);
  outline: none;
  border-radius: 5px;
  border: none;
  margin-top: 5px;
}
.signout_btn {
  background-color: var(--pink);
  color: #fff;
  border: 1px solid var(--pink);
  padding: 10px 18px;
  text-decoration: none;
  margin: 0 10px;
  border-radius: 5px;
}
.signout_btn:hover {
  color: #fff;
}

.UserDetails {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  flex: column;
  align-items: center;
  text-align: center;
  background-color: var(--blue);
}
.UserDetails h1 {
  color: #fff;
}
.UserDetails h1 span {
  color: var(--red);
  font-size: 20px;
}
.UserDetails label {
  display: block;
  color: #fff;
  margin-bottom: 10px;
}
.UserDetails input {
  width: 100%;
  height: 5%;
  padding: 10px 20px;
  border-radius: 5px;
  outline: none;
  border: none;
  margin-bottom: 10px;
}
.UserDetails button {
  width: 60%;
  padding: 10px 20px;
  color: #fff;
  background-color: var(--red);
  outline: none;
  border-radius: 5px;
  border: none;
  margin-top: 5px;
}
.Personal_details {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  flex: column;
  align-items: center;
  text-align: center;
  background-color: var(--blue);
}
.Personal_details h1 {
  color: #fff;
}
.Personal_details label {
  display: block;
  color: #fff;
  margin-bottom: 10px;
}
.Personal_details input {
  width: 100%;
  height: 5%;
  padding: 10px 20px;
  border-radius: 5px;
  outline: none;
  border: none;
  margin-bottom: 10px;
}
.Personal_details button {
  width: 60%;
  padding: 10px 20px;
  color: #fff;
  background-color: var(--red);
  outline: none;
  border-radius: 5px;
  border: none;
  margin-top: 5px;
}
.Confermation {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  flex: column;
  align-items: center;
  text-align: center;
  background-color: var(--blue);
}
.Confermation h1 {
  color: #fff;
}
.Confermation p {
  color: var(--red);
}
.Confermation_details {
  background-color: #fff;
  color: var(--red);
  border: 1px solid #fff;
  padding: 10px 20px;
  width: auto;
  margin: 5px;
  border-radius: 5px;
}
.Confermation button {
  width: 60%;
  padding: 10px 20px;
  color: #fff;
  background-color: var(--red);
  outline: none;
  border-radius: 5px;
  border: none;
  margin-top: 5px;
}
.Success {
  background-color: var(--blue);
  color: #fff;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
/* 
  
 \\\\\\\\\\\\\\\\\\\\\\\\\\\ Header STYLE \\\\\\\\\\\\\\\\\\\\\\\\\\\\\
  
  */

.Top_header {
  background-color: var(--blue);
  height: 85vh;
  width: 100%;
}
.header_tittle {
  color: #fff;
}
.header_tittle h1 {
  color: #fff;
  font-family: "Playfair Display", serif;
  font-size: 3rem;
}
.header_tittle h1::after {
  content: "Development Skills";
  display: block;
}
.dropdown:hover > .dropdown-menu {
  display: block;
  transition: 0.5s;
}

.courses_dropdown {
  background-color: #fff;
  color: var(--black);
}
.courses_dropdown:hover {
  background-color: #fff;
  color: var(--red);
}
.header_tittle .header_tittle_enrollbtn {
  background-color: var(--pink);
  font-weight: 500;
  padding: 4px 5px 4px 25px;
  color: #fff;
  width: fit-content;
  text-decoration: none;
  border-radius: 5px;
  transition: 0.5s;
}
.header_tittle .header_tittle_enrollbtn:hover {
  background-color: #fff;
  font-weight: 500;
  padding: 4px 5px 4px 25px;
  color: var(--pink);
  width: fit-content;
  text-decoration: none;
  border-radius: 5px;
  transition: 0.5s;
}
.header_tittle .header_tittle_ArrowForwardIcon {
  background-color: #fff;
  padding: 10px;
  color: var(--red);
  font-size: 2.4rem;
  margin-left: 10px;
  border-radius: 5px;
}
.header_tittle .header_tittle_ArrowForwardIcon:hover {
  background-color: var(--red);
  padding: 10px;
  color: #fff;
  font-size: 2.4rem;
  margin-left: 10px;
  border-radius: 5px;
}

.header_img img {
  width: 100%;
  height: 70%;
}
.header_img .animated {
  animation: up-down 2s ease-in-out infinite alternate-reverse both;
}
@-webkit-keyframes up-down {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}
@keyframes up-down {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}

/* 
  
 \\\\\\\\\\\\\\\\\\\\\\\\\\\ Trips STYLE \\\\\\\\\\\\\\\\\\\\\\\\\\\\\
  
  */

.trips {
  background-color: var(--pink);
  color: #fff;
  height: fit-content;
}
.trips_content {
  display: inline-flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  border-right: 1px solid #fff;
}
.trips_content_last {
  display: inline-flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}
.trips_content_last h5 {
  font-size: 16px;
  margin-top: 1rem;
}
.trips_content_last p {
  font-size: 14px;
}
.trips_content_last .Avtar_icone {
  background-color: var(--lpink);
  font-weight: 700;
  padding: 10px;
  border-radius: 50%;
  font-size: 3rem;
}
.trips_content h5 {
  font-size: 16px;
  margin-top: 1rem;
}
.trips_content p {
  font-size: 14px;
}
.trips_content .Avtar_icone {
  background-color: var(--lpink);
  font-weight: 700;
  padding: 10px;
  border-radius: 50%;
  font-size: 3rem;
}

/* 
  
 \\\\\\\\\\\\\\\\\\\\\\\\\\\ Popular Category STYLE \\\\\\\\\\\\\\\\\\\\\\\\\\\\\
  
  */

.Subject_category_heading p {
  text-align: center;
  font-size: small;
  color: var(--black);
}
.Subject_category_heading h2 {
  text-align: center;
  font-family: "Playfair Display", serif;
}
.Subject_category_heading h2::after {
  content: "For Learn";
  display: block;
}
.Subject_category_heading h2 span {
  color: var(--pink);
  font-family: "Playfair Display", serif;
}

.card_bg {
  background-color: #e5f7f8;
  display: inline-flex;
  justify-content: start;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
  width: 90%;
  text-decoration: none;
  transform: translateY(-1);
}
.card_bg:hover {
  background-color: #e5f7f8;
  display: inline-flex;
  justify-content: start;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
  width: 90%;
  text-decoration: none;
  transform: translate(5%, -5%);
  transition: 0.5s ease;
}
.card_bg div {
  padding-top: 1rem;
}
.card_bg div h5 {
  color: #00bdd8;
}

.avtar_card_img {
  height: 100px;
  width: 100px;
  padding: 10px;
  border-radius: 50%;
}
.card_bg div p {
  color: var(--black);
  font-size: small;
}
.avtar_card_img2 {
  font-size: 10px;
}

.card_bg2 {
  background-color: #fef7e8;
  display: inline-flex;
  justify-content: start;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
  width: 90%;
}
.card_bg2:hover {
  background-color: #fef7e8;
  display: inline-flex;
  justify-content: start;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
  width: 90%;
  transform: translate(5%, -5%);
  transition: 0.5s ease;
}
.card_bg2 div {
  padding-top: 1rem;
}
.card_bg2 div h5 {
  color: #f7b320;
}
.card_bg2 div p {
  color: var(--black);
  font-size: small;
}
.card_bg3 {
  background-color: #e9f6ef;
  display: inline-flex;
  justify-content: start;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
  width: 90%;
}
.card_bg3:hover {
  background-color: #e9f6ef;
  display: inline-flex;
  justify-content: start;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
  width: 90%;
  transform: translate(5%, -5%);
  transition: 0.5s ease;
}
.card_bg3 div {
  padding-top: 1rem;
}
.card_bg3 div h5 {
  color: #3eae97;
}
.card_bg3 div p {
  color: var(--black);
  font-size: small;
}

.card_bg4 {
  background-color: #fee6ed;
  display: inline-flex;
  justify-content: start;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
  width: 90%;
}
.card_bg4:hover {
  background-color: #fee6ed;
  display: inline-flex;
  justify-content: start;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
  width: 90%;
  transform: translate(5%, -5%);
  transition: 0.5s ease;
}
.card_bg4 div {
  padding-top: 1rem;
}
.card_bg4 div h5 {
  color: var(--pink);
}
.card_bg4 div p {
  color: var(--black);
  font-size: small;
}

.card_bg5 {
  background-color: #e6fbfd;
  display: inline-flex;
  justify-content: start;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
  width: 90%;
}
.card_bg5:hover {
  background-color: #e6fbfd;
  display: inline-flex;
  justify-content: start;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
  width: 90%;
  transform: translate(5%, -5%);
  transition: 0.5s ease;
}
.card_bg5 div {
  padding-top: 1rem;
}
.card_bg5 div h5 {
  color: #0dd6ed;
}
.card_bg5 div p {
  color: var(--black);
  font-size: small;
}

.card_bg6 {
  background-color: #f8efff;
  display: inline-flex;
  justify-content: start;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
  width: 90%;
}
.card_bg6:hover {
  background-color: #f8efff;
  display: inline-flex;
  justify-content: start;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
  width: 90%;
  transform: translate(5%, -5%);
  transition: 0.5s ease;
}
.card_bg6 div {
  padding-top: 1rem;
}
.card_bg6 div h5 {
  color: #b973fd;
}
.card_bg6 div p {
  color: var(--black);
  font-size: small;
}

.card_bg7 {
  background-color: #f5fcec;
  display: inline-flex;
  justify-content: start;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
  width: 90%;
}
.card_bg7:hover {
  background-color: #f5fcec;
  display: inline-flex;
  justify-content: start;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
  width: 90%;
  transform: translate(5%, -5%);
  transition: 0.5s ease;
}
.card_bg7 div {
  padding-top: 1rem;
}
.card_bg7 div h5 {
  color: #9ade45;
}
.card_bg7 div p {
  color: var(--black);
  font-size: small;
}

.card_bg8 {
  background-color: #fdedf4;
  display: inline-flex;
  justify-content: start;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
  width: 90%;
}
.card_bg8:hover {
  background-color: #fdedf4;
  display: inline-flex;
  justify-content: start;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
  width: 90%;
  transform: translate(5%, -5%);
  transition: 0.5s ease;
}
.card_bg8 div {
  padding-top: 1rem;
}
.card_bg8 div h5 {
  color: #ec55b0;
}
.card_bg8 div p {
  color: var(--black);
  font-size: small;
}

.card_bg9 {
  background-color: #fdf0e6;
  display: inline-flex;
  justify-content: start;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
  width: 90%;
}
.card_bg9:hover {
  background-color: #fdf0e6;
  display: inline-flex;
  justify-content: start;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
  width: 90%;
  transform: translate(5%, -5%);
  transition: 0.5s ease;
}
.card_bg9 div {
  padding-top: 1rem;
}
.card_bg9 div h5 {
  color: #ea715a;
}
.card_bg9 div p {
  color: var(--black);
  font-size: small;
}

/* 
  \\\\\\\\\\\\\\\\\\\\\\\\\\\ END Popular Category STYLE \\\\\\\\\\\\\\\\\\\\\\\\\\\\\
*/

/* 
  \\\\\\\\\\\\\\\\\\\\\\\\\\\  Popular Blog notification STYLE \\\\\\\\\\\\\\\\\\\\\\\\\\\\\
*/
.Blog_notification {
  background-color: #f4f5f7;
}

.Blog_notification_heading p {
  text-align: center;
  font-size: small;
  color: var(--black);
}
.Blog_notification_heading h2 {
  text-align: center;
  font-family: "Playfair Display", serif;
}
.Blog_notification_heading h2::after {
  content: "";
  display: block;
}
.Blog_notification_heading h2 span {
  color: var(--pink);
  font-family: "Playfair Display", serif;
}

.Blog_notification_contaner {
  overflow-y: scroll;
  max-height: 300px;
}
.Blog_notification_heading_icon {
  color: var(--red);
}
.Blog_notification_heading_sub {
  padding: 10px;
  align-items: center;
  text-align: center;
}
.Blog_notification_heading_sub h5 {
  color: var(--lpink);
  margin-top: 5px;
  padding-left: 1rem;
}
/* 
  \\\\\\\\\\\\\\\\\\\\\\\\\\\ END Popular Blog notification STYLE \\\\\\\\\\\\\\\\\\\\\\\\\\\\\
*/

/* 
  \\\\\\\\\\\\\\\\\\\\\\\\\\\ Popular Poll of the day STYLE \\\\\\\\\\\\\\\\\\\\\\\\\\\\\
*/
.polloftheday_background {
  max-height: 300px;
  overflow-y: scroll;
}
.polloftheday_background p {
  margin-left: 5px;
}
.color {
  color: var(--black);
}
.tranding_topics_button {
  align-items: center;
  text-align: center;
  padding: 10px 15px;
  background-color: var(--green);
  color: #fff;
  border: 1px solid var(--green);
  border-radius: 1rem;
  margin-top: 10px;
}

.container_heading {
  background-color: #f4f5f7;
  padding-bottom: 1rem;
}
.container_heading p {
  text-align: center;
  font-size: small;
  color: var(--black);
}
.container_heading h2 {
  text-align: center;
  font-family: "Playfair Display", serif;
}
.container_heading h2::after {
  content: "";
  display: block;
}
.container_heading h2 span {
  color: var(--pink);
  font-family: "Playfair Display", serif;
}
.consultancy h1 {
  font-family: "Playfair Display", serif;
  color: var(--pink);
}
.consultancy p {
  color: var(--black);
}

.consultancy a {
  color: var(--lpink);
  border: 1px solid var(--lpink);
  border-radius: 5px;
  padding: 10px 15px;
  margin-top: 10px;
}
.consultancy a:hover {
  background-color: var(--pink);
  color: #fff;
  border: 1px solid var(--pink);
  border-radius: 5px;
  padding: 10px 15px;
}
/* 
  \\\\\\\\\\\\\\\\\\\\\\\\\\\ Popular Poll of the day STYLE \\\\\\\\\\\\\\\\\\\\\\\\\\\\\
*/

.RecentCoursesCategory {
  background-color: #f4f5f7;
}

.RecentCoursesCategory_heading p {
  text-align: center;
  font-size: small;
  color: var(--black);
}
.RecentCoursesCategory_heading h2 {
  text-align: center;
  font-family: "Playfair Display", serif;
}
.RecentCoursesCategory_heading h2::after {
  content: "Instructor";
  display: block;
}
.RecentCoursesCategory_heading h2 span {
  color: var(--pink);
  font-family: "Playfair Display", serif;
}
.RecentCoursesCard_navlink {
  text-decoration: none;
}
.RecentCoursesCard_bg {
  height: auto;
  background-color: #fff;
  border-radius: 10px;
}

.RecentCoursesCategory_card_image {
  width: 100%;
  height: 250px;
  border-radius: 10px;
}
.RecentCoursesCategory_heading_color {
  padding: 20px 15px;
  color: var(--black);
  font-size: 17px;
  font-weight: 700 !important;
  line-height: normal;
}
.RecentCoursesCategory_heading_color:hover {
  padding: 20px 15px;
  color: var(--pink);
  font-size: 17px;
  font-weight: 700 !important;
  line-height: normal;
}
.RecentCoursesCategory_details {
  display: flex;
  justify-content: space-around;
  font-size: 12px;
  color: var(--black);
  margin-right: 1.2rem;
}
.RecentCoursesCategory_details_prop {
  font-size: 10px;
  padding: 3px;
}
.RecentCoursesCategory_info {
  display: flex;
  justify-content: space-around;
}
.RecentCoursesCategory_Avatar_image {
  width: 60px;
  border-radius: 50% 50%;
  margin-right: 5px;
}
.RecentCoursesCategory_info_text {
  font-size: 15px;
  color: var(--black);
  margin-left: 3px;
}
.RecentCoursesCategory_info_text:hover {
  font-size: 15px;
  color: var(--pink);
  margin-left: 3px;
}

.RecentCoursesCategory_demo_btn {
  padding: 10px 18px;
  border-radius: 20px;
  font-size: 14px;
  text-decoration: none;
}
.RecentCoursesCategory_demo_btn:hover {
  padding: 10px 18px;
  border-radius: 20px;
  color: #fff;
  font-size: 14px;
  text-decoration: none;
}
.RecentCoursesCategory_demo_btn_nav {
  background-color: #e2f4ec;
  border-radius: 20px;
  padding: 10px 25px;
  text-decoration: none;
  color: #1ead7c;
}
.RecentCoursesCategory_demo_btn_nav:hover {
  text-decoration: none;
  border-radius: 20px;
  padding: 10px 25px;
  color: #fff;
  background-color: var(--lpink);
}

.request_block {
  display: flex;
  justify-content: center;
  text-align: center;
}
.request_block h1,
p {
  color: #fff;
  font-weight: 700 !important;
}
.request_block_container {
  background-color: var(--red);
  width: 100%;
  padding: 30px 30px;
}
.request_block_container2 {
  background-color: var(--green);
  width: 100%;
  padding: 30px 30px;
}
.Request_block_navlink {
  background-color: #fff;
  color: var(--red);
  padding: 20px 20px;
  border-radius: 10px;
  text-decoration: none;
}
.Request_block_navlink:hover {
  background-color: var(--lpink);
  color: #fff;
  padding: 20px 20px;
  border-radius: 10px;
  text-decoration: none;
}
.Request_block_navlink_small {
  background-color: #fff;
  color: var(--red);
  padding: 10px 10px;
  border-radius: 10px;
  text-decoration: none;
}
.Request_block_navlink_small:hover {
  background-color: var(--lpink);
  color: #fff;
  padding: 10px 10px;
  border-radius: 10px;
  text-decoration: none;
}

/* */
.Avtar-img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

.Testimonial_bg {
  background-image: url("./image/map.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: auto;
  text-align: center;
}
.Testimonial_bg h2 span {
  color: var(--red);
}
.Testimonial_bg_content {
  text-align: center;
}
.Testimonial_bg_content h1 {
  color: var(--black);
  font-size: 2rem;
}
.Testimonial_bg_content p {
  color: var(--black);
  padding-bottom: 2rem;
}
.Testimonial_bg_content p span {
  font-size: 12px;
  color: var(--lpink);
}
.Home_tutor_request_bg {
  text-align: center;
}
.Home_tutor_request_bg h1 {
  color: var(--black);
}
.Home_tutor_request_bg h2 span {
  color: var(--pink);
  font-family: "Playfair Display", serif;
}
.Submit_btn {
  background-color: var(--pink);
  font-weight: 500;
  padding: 4px 5px 4px 25px;
  color: #fff;
  width: fit-content;
  text-decoration: none;
  border-radius: 5px;
  transition: 0.5s;
}
.Submit_btn:hover {
  background-color: #fff;
  font-weight: 500;
  padding: 4px 5px 4px 25px;
  color: var(--pink);
  width: fit-content;
  text-decoration: none;
  border-radius: 5px;
  transition: 0.5s;
}
.Submit_btn_ArrowForwardIcon {
  background-color: #fff;
  padding: 10px;
  color: var(--red);
  font-size: 2.4rem;
  margin-left: 10px;
  border-radius: 5px;
}
.Submit_btn_ArrowForwardIcon:hover {
  background-color: var(--red);
  padding: 10px;
  color: #fff;
  font-size: 2.4rem;
  margin-left: 10px;
  border-radius: 5px;
}

.Country_dropdown label {
  display: none;
}
.Country_dropdown select {
  width: 100%;
  height: 40px;
  border-bottom: 1px solid var(--red);
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 5px;
  padding: 0 10px;
  color: var(--red);
}
.Country_dropdown select:focus {
  outline: var(--red);
}
.Country_dropdown_navlink {
  background-color: #fff;
  color: var(--red);
  padding: 10px 20px;
  border: 1px solid var(--red);
  border-radius: 5px;
  text-decoration: none;
}
.Country_dropdown_navlink:hover {
  background-color: var(--red);
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
}

.NewsLater_bg {
  background-color: var(--red);
  color: #fff;
  display: flex;
  justify-content: center;
  flex: column;
  align-items: center;
  text-align: center;
  height: 250px;
  max-height: 300px;
}

.NewsLater_bg_input {
  padding: 20px 20px;
  width: 50%;
  border-radius: 25px 0 0 25px;
  outline: none;
  border: none;
}
.NewsLater_bg_input2 {
  width: 25%;
  padding: 17px 17px;
  border-radius: 0 25px 25px 0;
  outline: none;
  background-color: var(--red);
  color: #fff;
  border: 3px solid #fff;
}

.Footer_bg {
  background-color: #252c41;
  font-family: "Poppins", sans-serif;
}
.Footer_bg_navlink {
  text-decoration: none;
}
.Footer_column1 p {
  color: #50759f;
  font-size: 12px;
  font-weight: normal;
  padding: 0.6rem;
  margin-top: 5px;
}
.Footer_logo {
  width: 80px;
  height: 70px;
}
.Footer_Top_Category h5 {
  color: #fff;
}
.Footer_Top_Category p {
  color: var(--lblue);
  font-size: 12px;
  margin-top: 1rem;
}
.Footer_Top_Category p:hover {
  color: #fff;
  font-size: 12px;
}
.Footer_App h5 {
  color: #fff;
}
.Google_App {
  border: 1px solid var(--lblue);
  display: flex;
  justify-content: start;
  padding: 10px 10px;
  border-radius: 5px;
  margin-top: 1rem;
}
.Google_App h2 {
  color: #fff;
  font-size: 16px;
  margin-top: 0.5rem;
  margin-left: 0.5rem;
}
.Google_App p {
  font-size: 10px;
  color: var(--lblue);
  margin-top: 0.5rem;
  margin-left: 0.5rem;
}
.Google_App p {
  font-size: 10px;
  color: #fff;
  margin-top: 0.5rem;
  margin-left: 0.5rem;
}

.App_icone {
  color: var(--red);
  margin-top: 0.5rem;
}

.Footer_bottom {
  background-color: #1b2132;
  display: flex;
  justify-content: space-between;
  color: var(--lblue);
  font-size: 14px;
  padding: 15px 40px;
}
.Footer_bottom_icon {
  margin: 0 10px;
}
